body {
    margin: 0;
    font-family: Poppins;
}

h1 {
    text-align: center;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: absolute;
    inset: 0;
}

.input-div div {
    text-align: center;
}

.input-div > p {
    font-size: 2rem;
}